<h1>Pokedex!</h1>

<div id="pokemon-detail-container"></div>

<ul class="pokemon-list"></ul>

<script id="pokemon-list-item" type="text/x-handlebars-template">
	<li class="pokemon">
		<a href="/pokemons/{{id}}">{{name}}</a>
	</li>
</script>

<script id="pokemon-detail" type="text/x-handlebars-template">
	<img src="{{image_url}}">
	<h1>{{name}}</h1>
</script>